h1 {
    color: white;
    font-size: 30px;
    margin-top: 30px;

}

body {
    background-color: black;
    animation: transitionIn 1.5s;

}

.slogan {
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 100px;
}

.diecast {
    color:#897f8c;
}

.prod {
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
    padding: 25px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #897f8c;
}

.serve {
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
    padding: 25px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #897f8c;
}

img {
    width: 370px;
    height: 70px;
    border-radius: 13px;
    margin-left: 10px;
    float: left;
    margin-top: 7px;

}

h1 {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
    float: left;

}

nav {
    background: #897f8c;
    height: 88px;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-left: 10px;
    margin-right: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}